*{
    font-family: "Geist Mono", monospace;
    box-sizing: border-box;
}
body{
  background-color: #F8FAFC;
  
  -ms-overflow-style: none;
}

::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}

html{
  scrollbar-width: none;
}